body {
     background-color: #f5f5f5;
	 font-family: Bahnschrift, Helvetica, Arial;
}

a {
	text-decoration: none;
	color: #FF6969;
}

h1 {
	margin: 1;
}

#container {
	background-color: #dedede;
	width: 1040px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	
	border: 1px solid #d9d9d9;
}

#date {
	background-color: #e0e0e0;
	color: gray;
	margin-left: auto;
	margin-right: auto;
	padding: 2px;
}

#about {
	background-color: white;
	margin-left: left;
	margin-right: auto;
	padding: 10px;
	width: 610px;
	
	margin-bottom: 6px;
	border: 1px solid #d9d9d9;
}

#reklam {
	background-color: white;
	padding: 10px;
	width: 250px;
	
	margin-bottom: 10px;
	border: 1px solid #d9d9d9;
	float: right;
	text-align: center;
}

#WARNING {
	background-color: white;
	color: red;
	padding: 2px;
	width: 250px;
	
	border: 1px solid #d9d9d9;
	text-align: center;
}


