body {
     background-color: #f5f5f5;
	 font-family: Bahnschrift, Helvetica, Arial;
}

a {
	text-decoration: none;
	color: #FF6969;
}

h1 {
	margin: 1;
}

#info {
	text-align: center;
	width: 512px;
	height: 140px;
	margin-left: auto;
	margin-right: auto;
	border: 5px solid #e02e3d;
	border-radius: 25px;
	margin-bottom: 6px;
	padding: 5px;
	
	background: url(SVT.png);
}

#container {
	background-color: #dedede;
	width: 1020px;
	height: 2340px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	border-radius: 10px;
	
	border: 1px solid #d9d9d9;
}

#date {
	background-color: #e0e0e0;
	color: gray;
	margin-left: auto;
	margin-right: auto;
	padding: 2px;
	
	font-size: 30px;
}

#about {
	background-color: white;
	margin-left: left;
	margin-right: auto;
	padding: 10px;
	width: 716px;
	height: 500px;
	border-radius: 10px;
	
	margin-bottom: 6px;
	border: 1px solid #d9d9d9;
	
	font-size: 30px;
}

#picture {
	background-color: #dedede;
	margin-left: left;
	margin-right: auto;
	padding: 10px;
	width: 610px;
	
	margin-bottom: 6px;	
}

#reklam {
	background-color: white;
	padding: 10px;
	width: 250px;
	border-radius: 10px;
	
	margin-bottom: 10px;
	border: 1px solid #d9d9d9;
	float: right;
	text-align: center;
	
	font-size: 20px;
}

#WARNING {
	background-color: white;
	color: red;
	padding: 2px;
	width: 250px;
	border-radius: 10px;
	
	border: 1px solid #d9d9d9;
	text-align: center;
}


