body {
  background-image: url("images/checkers.png");
}

h6 {
  font-family: verdana;
  font-size: 30px;
}

p {
  font-family: verdana;
  font-size: 25px;
}

a {
  font-family: verdana;
  font-size: 25px;
}

td {
  vertical-align: top;
}

#container {
	background-color: #6badde;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	
	border: 2px solid #84de94;
	outline-style: double;
	outline-offset: -2px;
	border-radius: 2px;
	
}

#header {
	background-color: #84de94;
	padding: 15px;
	margin-left: auto;
	margin-right: auto;
	
	border: 2px solid #84de94;
	outline-style: double;
	outline-offset: -2px;
	border-radius: 2px;
	
	margin-bottom: 6px;
	
	text-align: center;
	
	font-size: 10px;

}

#news {
	background-color: #6badde;
	padding: 5px;
}

.stuff {
	background-color: #84de94;
	width: auto;
	padding: 10px;
	margin-left: auto;
	
	text-align: left-side;
	
	margin-bottom: 6px;
	
	border: 2px solid #84de94;
	outline-style: double;
	outline-offset: -2px;
	border-radius: 2px;

}

.smalltext {
	font-size: 15px;
}

.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center
}